@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model IEnumerable<Football_Picks.Models.Matchup>

@{
    ViewData["Title"] = "Index";
    
}
<div class="row">
    <div class="col-md-12">
        <h1 class="text-warning text-shadow">Matchups: Week @ViewBag.week</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Search", "Matchups", FormMethod.Post))
        {
            <div class="form-inline mb-3">
                <select name="_week" class="form-control shaodow-nohover mr-3" style="width: 100px;">
                    <option value="@ViewBag.week">@ViewBag.week</option>
                    @for (int i = 1; i < 17; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <input type="submit" class="form-control btn btn-secondary shadow-nohover" asp-controller="Matchups" asp-action="Index" asp-route-id="week" />
            </div>
        }
    </div>
</div>

<!--Start of Card Layout-->
<div class="row">

    @foreach (var matchup in Model)
    {
    <div class="col-sm-6">
        <div class="card shadow-nohover mb-2">
            <div class="card-body">
                <div class="card-title">Matchup Week @ViewBag.week -<span class="text-black-50 text-bold"> @matchup.AwayTeam.Team_Name at @matchup.HomeTeam.Team_Name</span></div>
                <hr />
                <div class="card-subtitle">
                    <img class="img img-fluid" src="@Url.Content(matchup.AwayTeam.Logo_Url)" width="64" />
                    <span class="text-black-50 text-bold"><label class="ml-3">@matchup.AwayTeam.Team_Name</label></span>
                    <span class="text-black-50 text-bold"><label class="ml-3">(@matchup.AwayTeam.Team_Record)</label></span>
                </div>
                <div class="card-subtitle">
                    <img class="img img-fluid" src="@Url.Content(matchup.HomeTeam.Logo_Url)" width="64" />
                    <span class="text-black-50 text-bold"><label class="ml-3">@matchup.HomeTeam.Team_Name</label></span>
                    <span class="text-black-50 text-bold"><label class="ml-3">(@matchup.HomeTeam.Team_Record)</label></span>
                </div>
            </div>
        </div>
    </div>
    } 
    </div>

